html
  head
    script(src="/vendor/jquery-1.11.2.min.js")
    script(src="/vendor/snap.svg-min.js")
    script(src="/vendor/xiangqi_viewer.js")
    script(src="/js/bundle.js")
  body
    .test-board
